@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    height: 12vh;
    align-items: center;
    background-color: rgb(4, 74, 77);
    color: white;
    background-image: url(img/4k-programming-background-8e6i8yordu658363.png);
    background-size: 100vw 100vh;
    background-position: left;
}

.first-h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5vw;
    margin-right: 65vw;
    font-size: 20px;
    font-family: "Kanit";
    font-weight: 100;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.614);
}

span {
    margin-left: 10px;
    font-size: 22px;
    font-family: "Bebas Neue";
    font-weight: 100;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.51);
    cursor: pointer;
}

.list>a {
    text-decoration: none;
    color: white;
}

.list {
    align-self: center;
    color: white;
}

.first-section {
    display: flex;
    margin: auto;
    align-items: center;
    font-size: 20px;
    background: linear-gradient(195deg, rgba(0, 42, 255, 0.801), rgba(12, 12, 12, 0) 20.00%),
    linear-gradient(220deg, rgba(191, 0, 255, 0.842), rgba(12, 12, 12, 0.8) 22.00%),
    linear-gradient(270deg, rgb(255, 0, 0), rgba(12, 12, 12, 0) 30.00%),
    linear-gradient(330deg, rgb(72, 255, 0), rgba(12, 12, 12, 0.8) 50.00%);
    height: 99vh;
    color: white;
    margin-top: 1.2px;
}

.imgme {
    margin: auto;
}

.imgme>.imageme {
    border-radius: 100%;
    box-shadow: 5px 5px 25px white;
    object-fit: cover;
   
}

.paragraph-1 {
    max-width: 60vw;
    text-shadow: 1px 1px 5px rgb(131, 131, 131);
    font-family: "Kanit";
    font-weight: 200;
    text-align: center;
    margin: auto;
}


.paragraph-1>h3 {
    font-family: "Kanit";
    color: white;
    margin: auto;
    font-weight: 400;
    text-shadow: 1px 1px 3px rgb(131, 131, 131); 
    border: 2px;
    border-color: rgb(144, 144, 144);
    border-bottom: 5px; 
    border-style: groove;
}

.paragraph-1>p {
    margin-top: 30px;
}

.first-section {
    display: flex;
    margin: auto;
    align-items: center;
}

#project {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: 'Kanit';
    font-weight: 400;
    height: 15vh;
}


.projects {
    display: flex;
    height: 50vh;
    flex-wrap: nowrap;
    margin: auto;
    align-items: center;
    font-family: 'Kanit';
    font-weight: 300;
    width: auto;
    background-color: rgb(231, 231, 231);
    margin-bottom: 5px;
}

.projects>p {
    max-width: 500px;
    margin: auto;
}

.projects>h3 {
    max-width: 150px;
    text-align: center;
    margin: auto;
}

.carousel-projects {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.carousel-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 44px;
    transition: all 0.25s ease-in;
}

.item {
    scroll-snap-align: center;
    scroll-snap-align: center;
    height: 200px;
    box-shadow: 25px black;
}

.carousel-view>.item-list {
    display: flex;
    max-width: 400px;
    transition: all 0.25s ease-in;
    overflow: auto;
    scroll-snap-type: x mandatory;
    border: none;
}

.prev-btn {
    border-radius: 55%;
    font-size: 20px;
    border: none;
    background: black;
    color: white;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.next-btn {
    border-radius: 55%;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background: black;
    width: 40px;
    height: 40px;
    color: white;
}

.next-btn:hover, .prev-btn:hover {
    scale: 1.03;
    transition: 0.15s ease-in;
}

#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: 'Kanit';
    font-weight: 400;
    height: 15vh;
}

.contacts {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-family: 'Kanit';
    font-weight: 300;
    background-color: rgb(231, 231, 231);
}

.contact-1 {
    display: flex;
    margin: auto;
    flex-direction: column;
    max-width: 300px;
    margin-top: 10px;
}

.contact-1>p {
    margin-top: 10px;
    text-align: center;
}

.contact-2 {
    margin: auto;
    
}
